<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>achievementId</key>
		<string>com.atfinkeproductions.jumper.1000</string>
		<key>distanceToRun</key>
		<string>1000</string>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>com.atfinkeproductions.jumper.900</string>
		<key>distanceToRun</key>
		<string>900</string>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>com.atfinkeproductions.jumper.800</string>
		<key>distanceToRun</key>
		<string>800</string>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>com.atfinkeproductions.jumper.700</string>
		<key>distanceToRun</key>
		<string>700</string>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>com.atfinkeproductions.jumper.600</string>
		<key>distanceToRun</key>
		<string>600</string>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>com.atfinkeproductions.jumper.500</string>
		<key>distanceToRun</key>
		<string>500</string>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>com.atfinkeproductions.jumper.400</string>
		<key>distanceToRun</key>
		<string>400</string>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>com.atfinkeproductions.jumper.300</string>
		<key>distanceToRun</key>
		<string>300</string>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>com.atfinkeproductions.jumper.200</string>
		<key>distanceToRun</key>
		<string>200</string>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>com.atfinkeproductions.jumper.100</string>
		<key>distanceToRun</key>
		<string>50</string>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>com.atfinkeproductions.jumper.50</string>
		<key>distanceToRun</key>
		<string>50</string>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>com.atfinkeproductions.jumper.10</string>
		<key>distanceToRun</key>
		<string>10</string>
	</dict>
    <dict>
		<key>achievementId</key>
		<string>com.atfinkeproductions.jumper.tot.500</string>
		<key>distanceToRun</key>
		<string>500</string>
	</dict>
    <dict>
		<key>achievementId</key>
		<string>com.atfinkeproductions.jumper.tot.1000</string>
		<key>distanceToRun</key>
		<string>1000</string>
	</dict>
    <dict>
		<key>achievementId</key>
		<string>com.atfinkeproductions.jumper.tot.2500</string>
		<key>distanceToRun</key>
		<string>2500</string>
	</dict>
    <dict>
		<key>achievementId</key>
		<string>com.atfinkeproductions.jumper.tot.5000</string>
		<key>distanceToRun</key>
		<string>5000</string>
	</dict>
</array>
</plist>
