<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Acknowledgments</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>MKStoreKit  https://github.com/MugunthKumar/MKStoreKit</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>iRate https://github.com/nicklockwood/iRate</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>iVersion https://github.com/nicklockwood/iVersion</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>Title</key>
			<string>iOSUtilities https://github.com/malcommac/iOSUtilities</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>JSONKit https://github.com/johnezang/JSONKit</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>NSData http://cocoawithlove.com/2009/06/base64-encoding-options-on-mac-and.html</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>SFHRKeychainUtils https://github.com/ldandersen/scifihifi-iphone</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>FlurryAnalytics http://www.flurry.com/</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Cocos2d (v2.0), CocosDenshion, and Kazmath http://www.cocos2d-iphone.org/</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>GKTapper, AddMusic, and Reachability http://developer.apple.com/</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
