<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consumables</key>
	<dict>
		<key>com.atfinkeproductions.jumper.10000</key>
		<dict>
			<key>Count</key>
			<integer>20000</integer>
			<key>Name</key>
			<string>Coins</string>
		</dict>
		<key>com.atfinkeproductions.jumper.5000</key>
		<dict>
			<key>Count</key>
			<integer>10000</integer>
			<key>Name</key>
			<string>Coins</string>
		</dict>
		<key>com.atfinkeproductions.jumper.2500</key>
		<dict>
			<key>Count</key>
			<integer>5000</integer>
			<key>Name</key>
			<string>Coins</string>
		</dict>
		<key>com.atfinkeproductions.jumper.1000</key>
		<dict>
			<key>Count</key>
			<integer>2500</integer>
			<key>Name</key>
			<string>Coins</string>
		</dict>
	</dict>
	<key>Non-Consumables</key>
	<array>
		<string>com.atfinkeproductions.jumper.ad</string>
	</array>
	<key>Subscriptions</key>
	<dict/>
</dict>
</plist>
